#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    overflow: hidden;
    /* padding: 2rem; */
    /* text-align: center; */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.text-line-animation {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 6s linear infinite, filling 6s ease-in infinite;
    font-size: 10rem;
}

.text-line-animation text {
    /* font-family: Helvetica,Arial,sans-serif; */
    font-weight: bold;
    /* font-style: normal; */
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling {
    0%,
    65% {
        fill: hsl(var(--nextui-primary-500));
        fill-opacity: 0;
    }
    75%,
    100% {
        fill: hsl(var(--nextui-primary-500));
        fill-opacity: 1;
    }
}


/* Marquee Animation */

@keyframes animate-marquee {
    100%,
    0% {
        transform: translateX(25%);
    }
    50% {
        transform: translateX(-25%);
    }
}

.animate-marquee {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: animate-marquee 120s linear infinite;
    animation-timing-function: linear;
}


/* Reverse Marquee Animation */

@keyframes animate-marquee-reverse {
    100%,
    0% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(25%);
    }
}

.animate-marquee-reverse {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: animate-marquee-reverse 120s linear infinite;
    animation-timing-function: linear;
}


/* for gradient */


/* background: linear-gradient(#abc567, #7867c8) padding-box, linear-gradient(82.77deg, #5b8cff 11.87%, #a4cafb 38.42%, #a7edff 64.19%, #fdadee 89.96%) border-box;
    border: 4px solid transparent; */


/* Explorer */

.Explorer {
    font-family: 'Girassol';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(180deg, #FF9EF0 0%, #922CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    stroke: #870070;
    stroke-width: 2px;
}

.flipCard {
    /* Other styles */
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
    backface-visibility: visible;
}

.flipCard-content {
    /* Other styles */
    backface-visibility: visible;
    transform: rotateY(180deg);
}